

.navbar {
    margin-bottom: 50px;
}

.navbar h1 {
    font-size: 2rem;
}




section {
    padding: 0 10% 0 10%;
}

#paragraph-input-analysis-box h1{

    padding: 20px;
}
#paragraph-input-analysis-box{
    flex-wrap: wrap;
    height: fit-content;
    padding-top: 25px;
}

#word-density-container {
    visibility: hidden;
}



.total-word-value {
    text-align: right;
    padding-right: 30px;
}


.total-sentence-value {
    text-align: right;
    padding-right: 30px;
}

.total-paragraph-value {
    text-align: right;
    padding-right: 30px;
}
.total-character-value{
    text-align: right;
    padding-right: 30px;
}
.density-list-data{
    text-align: right;
    padding-right: 30px;
}

#detail-density-box{
    flex-wrap: wrap;
}

@media only screen and (max-width: 1025) {

    body {
        text-align: right;
    }
    section{
        padding: 0;
        margin: 0;
    }

  }

  #details-container {
      display: flex;
  }