

.navbar {
    margin-bottom: 50px;
    margin-bottom: 7%;
}

.navbar h1 {
    font-size: 2.2rem;
    font-family: 'Kaushan Script', cursive;
    padding: 0 0 0 5%;
}

.text-white {
    font-family: 'Roboto Slab', serif;
}

div {
    font-family: 'Roboto Slab', serif;
}



section {
    padding: 0 10% 10% 10%;
}

#paragraph-input-analysis-box h1{

    padding: 20px;
}
#paragraph-input-analysis-box{
    flex-wrap: wrap;
    height: fit-content;
    padding-top: 25px;
}

#word-density-container {
    visibility: hidden;
}



.total-word-value {
    text-align: right;
    padding-right: 30px;
}


.total-sentence-value {
    text-align: right;
    padding-right: 30px;
}

.total-paragraph-value {
    text-align: right;
    padding-right: 30px;
}
.total-character-value{
    text-align: right;
    padding-right: 30px;
}
.density-list-data{
    text-align: right;
    padding-right: 30px;
}

#detail-density-box{
    flex-wrap: wrap;
}



  #details-container {
      display: flex;
  }

  i {
      margin-left: 10px;
      color: black;
  }

  i:hover {
      color: #f00d;
  }

  .progress-bar {
      text-align: center;
  }
@media only screen and (max-width: 500px) {

    .text-white {
        font-size: large;
        display: block;

    }
    #paragraph-input-analysis-box {
        padding-top: 0;
    }
}
  #word-requirment-input-submit-button:hover #submit-icon{

    color: white;
    font-weight: bold;
  }

 #submit-icon{
      color: #0275d8;
  }

  #clear-icon {
      color:#ff0000;
  }

  #word-requirment-input-clear-button:hover #clear-icon {
      color: white;
  }

  li:hover div {
      padding: 2px 5px;
      font-size: large;
  }
  li:hover {
    background-color: #f1f6f9;

  }

  